<h1>All Students</h1>

<% @student.each do |student| %>
  <h2><%= link_to "#{student.first_name} #{student.last_name}", student_path(student.id) %></h2>
  <h3>Number of Courses: <%= student.courses.count %></h3>
<% end %>

<% if current_user %>
  <%= link_to 'New Student', new_student_path %>
<% end %>

<h2><%= link_to 'View all Courses', courses_path %></h2>