<h1>All Courses</h1>

<% @course.each do |course| %>
  <h2><%= link_to course.course_name, course_path(course.id) %></h2>
  <h3>Number of Students Enrolled: <%= course.students.count %></h3>
<% end %>

<% if current_user %>
  <%= link_to 'New Course', new_course_path %>
<% end %>

<h2><%= link_to 'View all Courses', courses_path %></h2>